/* Color of the page background */
body {
    background-color: #eaeaea;
}


table tbody tr:nth-of-type(odd) {
    background-color: #969696;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.firstTR {
    background-color: rgb(35, 126, 50);
}