/* Color of the page background */
body {
    background-color: #eaeaea;
}

/* Color of table odd rows */
table tbody tr:nth-of-type(odd) {
    background-color: #969696;
}

/* Color of table even rows */
table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/* Header for the table, column sorting */
.firstTR {
    background-color: rgb(35, 126, 50);
}

/* Color of highlight around the point */
.highlighted.point{
    stroke-width: 3px;
    stroke: #ff0;
    filter: drop-shadow(3px 3px 2px rgb(142, 142, 142));
}

/* Color of table row highlight when point is selected */
table tbody tr.highlighted {
    background-color: #ff0 !important; /* Ensures the highlighted color overrides other styles */
}

/* Color of the fill for the bins for highlighted data*/
.new-data-highlight {
    fill: #ff0;
    stroke: none;
    fill-opacity: 0.8;
    
}

/* Color of the fill for the bins for highlighted data in subcharts */
.new-data-highlight-subchart {
    fill: #ff0;
    stroke: none;
    fill-opacity: 0.8;
}

/* Color of the selection rectangle in the main linechart */
.selection-rectangle
{
    fill: #51ceff48;
    fill-opacity: 0.3;
    stroke: #9ea8b8;
    stroke-width: 2px;
    z-index: 1;
}

/* Color of the selection rectangle in the sublinechart */
.selection-rectangle-subchart
{
    fill: #e5f0ff48;
    fill-opacity: 0.3;
    stroke: none;
    z-index: 1;
}

/* Tooltip for map point */
#tooltip {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 3px;
    pointer-events: none;
    display: none;
}

/* Tool tip for selection */
.brush-tooltip {
    position: absolute;
    background-color: rgba(50, 50, 50, 0.9); 
    color: #fff; 
    padding: 4px 8px;
    border-radius: 4px; 
    font-family: 'Arial', sans-serif;
    font-size: 14px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    display: none;  
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    transform: translateY(-5px);
}