/* Basic Reset and Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* Main Content Container */
.container {
    display: flex;
    overflow: none;
    height: 100vh;
    width: 100%;
}

/* Column Layout */
.column {
    display: flex;
    flex-direction: column;
}

.column-1 { flex: 3; height: 100vh;} /* Narrow Column */
.column-2 { flex: 7; } /* Wide Column */

/* Column-1 Content */
.column-1 .data-filters { flex: 7; max-height: 70vh; overflow: none;} 
.column-1 .table-row { flex: 3; max-height: 30vh;}



/* Column-2 Content */
.column-2 .row-1
{
    padding: 0px;
} 
.column-2 .row-2 {
    padding: 0px;
}
.column-2 .row-1 { flex: 2;}
.column-2 .row-2 { flex: 8;}

/* Row Layout for Flexible Positioning */
.row-1, .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to start from the top */
}



/* General Row Styling */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
}


