/* Basic Reset and Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

/* Main Content Container */
.container {
    display: flex;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: none;
}

/* Column Layout */
.column {
    display: flex;
    flex-direction: column;
}

.column-1 { flex: 3; } /* Narrow Column */
.column-2 { flex: 7; } /* Wide Column */

/* Column-1 Content */
.column-1 .data-filters { flex: 5;}
.column-1 .table-row { flex: 5;}

/* Column-2 Content */
.column-2 .row-1, 
.column-2 .row-2 {
    padding: 20px;
}
.column-2 .row-1 { flex: 2;}
.column-2 .row-2 { flex: 8;}

/* Row Layout for Flexible Positioning */
.row-1, .row-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align items to start from the top */
}

/* General Row Styling */
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
}
