body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.top-panel {
    text-align: center;
    padding: 0px;
    background-color: #c9c9c9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 5px;
    margin-top: 0px;
    width: 100%;
}

.top-panel h1 {
    margin: 0px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: 600;
    color: #2a2a2a;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
}

.column-1 {
    flex: 3;
}

.column-2 {
    flex: 7;
}

.column-1 .data-filters {
    flex: 7;
}

.column-2 .table-row {
    flex: 3;
}

.column-2 .row-1 {
    flex: 2;
    padding: 20px;
}

.column-2 .row-2 {
    flex: 8;
    padding: 20px;
}


.row-2 {
    display: flex;
    flex-direction: column;
    /* Change flex-direction to column */
    justify-content: flex-start;
    /* Align items to start from the top */
}

.row-1 {
    display: flex;
    flex-direction: column;
    /* Change flex-direction to column */
    justify-content: flex-start;
    /* Align items to start from the top */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 5px;
    border-radius: 5px;
}