.table-container {
    max-height: 30vh; /* Ensures it doesn’t exceed the viewport height */
    overflow-y: scroll;
    width: 100%;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0;
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    overflow: none;
}

/* Header styling */
table thead tr.firstTR, table thead tr.filter-row {
    background-color: #175819;
    color: white;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

table thead tr.filter-row {
    background-color: #e3e3e3; /* Different background for the filter row */
    top: 40px; /* Adjust based on the height of the firstTR */
    z-index: 2; /* Ensure it stays above the first row */

}

table thead th {
    padding: 12px 15px;
    background-color: inherit;
}

/* Body styling */
table tbody tr {
    border-bottom: 1px solid #dddddd;
}



table tbody td {
    padding: 12px 15px;
    text-align: center;
}

table tbody tr.highlighted {
    background-color: yellow !important; /* Ensures the highlighted color overrides other styles */
}

.row {
    background-color: #d7d1d1;
    border: 2px solid #333;
    border-radius: 5px;
}


.table-container::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

.table-container::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners on the scrollbar track */
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners on the scrollbar thumb */
    border: 2px solid #f1f1f1; /* Adds a border around the thumb */
}

.table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Darker thumb when hovered */
}

/* Table headers */
th {
    cursor: pointer;
    position: relative;
    padding: 10px;
    background-color: #f8f9fa; /* Light gray background */
    user-select: none; /* Prevent text selection */
    text-align: left;
    font-size: 15px;
    color: #000000; /* Darker text color for readability */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth hover effect */
    text-align: center;
}

/* Hover effect for column headers */
th:hover {
    /* background-color: #e9ecef; Slightly darker gray on hover */
    color: #212529; /* Darker text on hover */
}

/* Highlight the sorted column */
th.sorted {
    
    filter: brightness(1.2);
    color: white; /* White text for contrast */
    font-weight: bold;
}

/* Sort icon styling */
th .sort-icon {
    margin-left: 8px;
    font-size: 0.9em;
    color: #ffffff; /* White icon for sorted column */
    transition: color 0.3s ease; /* Smooth transition for icon color */
}

th:hover .sort-icon {
    color: #dee2e6; /* Subtle change for icon color on hover */
}
