/* Styling the toggle button */
#toggleButton {
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    padding: 10px 20px; /* Some padding */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon on hover */
    font-size: 16px; /* Increase font size */
}

/* Change button color on hover */
#toggleButton:hover {
    background-color: #45a049; /* Darker green */
}

/* Styling the event selection container */
#eventSelection {
    margin-top: 20px; /* Some space above */
}

/* Styling each checkbox container */
.checkbox-container {
    padding: 10px; /* Some padding */
    border: 1px solid #ddd; /* Light grey border */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 10px; /* Space between items */
    margin-top: 10px;
    background-color: #f9f9f9; /* Light grey background */
}

/* Adding some more style for hover effect */
.checkbox-container:hover {
    background-color: #e6e6e6; /* Slightly darker background on hover */
    border-color: #ccc; /* Darker border on hover */
}

/* Style for the hide/unhide button */
#hideAllButton {
    width: 100%;
    background-color: #007bff; /* A nice blue color */
    color: white; /* White text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Slightly rounded corners */
    font-size: 16px; /* Increase font size for better readability */
    font-weight: bold; /* Make the text bold */
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

/* Style when the button is hovered */
#hideAllButton:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Style when the button is active (clicked) */
#hideAllButton:active {
    background-color: #004494; /* Even darker blue when pressed */
}